/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
 color-scheme: light dark;
 --bg: light-dark(white, black);
 --clr: light-dark(Black, White);
 --crd: light-dark(rgb(240, 240, 240), rgb(54, 54, 54));
 --crdt: light-dark (rgb(209, 209, 209), rgb(156, 156, 156));

}
html:has([value="light"]:checked) {
color-scheme: light;
}
html:has([value="dark"]:checked) {
color-scheme: dark;
}
html {
color: var(--clr);
background-color: var(--bg); 
/*card color:: var(--crd);*/
/*card text color:: var(--crdt);*/
}





:root {

    --color-nintendo:#e60012; 
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);
}


header {
    background-color: #e60012;
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1em 2em; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
    box-sizing: border-box;
}

header img {
    height: 40px; 
}

.header-links {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.header-links a {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    gap: 0.25em;            
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

.header-links a img {
    width: 24px;   
    height: 24px;  
}

header a:hover{

text-decoration: underline;

}

/*Footer--------------------------------------------------------------------------------------*/

footer {
    background-color: #a8000e;
    color: white;
    padding: 0;
    margin-left: 90px;
}


.taal-balk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #e60012;
}

.taal-balk img {
    height: 40px;
}


.footer-links {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 1em;
    padding: 2em;
    justify-content: start;
}

.footer-links p {
    margin: 0.5em 0;
    font-size: 0.9em;
    text-align: left;
    text-decoration: none;
    color: white;
}

.footer-links a {

    text-decoration: none;
}

.footer-links a:hover {
    color: white;
    text-decoration: underline;
}


.copyright {
    text-align: left;
    padding: 1em 2em;
}

.copyright p {
    margin: 0;
    font-size: 0.85em;
}

/* Main---------------------------------*/


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
background-color: var(--bg); 

}


/*Updates--------------------------------------------------------*/


.updates{
padding-right: 18em;
padding-left: 18em;

}


.update-main {
  display: flex;
  gap: 1.5em;
  align-items: flex-start;
  background-color: var(--crd);
  margin-right: 0.3em;
  font-size:medium;
  padding-right: 2em;
  color: var(--crdt);
  border-radius: 1em;
}

.update-main h3 {
font-size:larger;
padding-right: 1em;
color: var(--clr);

}

.update-main a {
font-size:small;
text-decoration: none;
color:var(--crdt);
}

.update-main img {
  max-width: 70%;
  height: auto;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em; 
}
.update-text a{

margin-top: 3em;

}
.update-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.updates img{
  
  max-width: 70%;
  height: auto;
  display: block;
}

.updatesub img{

max-width: 100%;
height: auto;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
}

.updatesub {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  margin-top: 2em;
 
}

.update-card {
background-color:var(--crd);
width: 100%;
height: auto;
border-radius: 1em;
}

.update-card img {
  width: 100%;
  height: auto;
  display: block;
}

.update-card p{
font-size: small;
padding-left: 1em;
color: var(--crdt);
}

.update-card h4{
padding-left: 1em;
padding-right: 1em;
color: var(--crdt);
}

/*Games-------------------------------------------------------------------------------------------------*/

.games h2 {
  grid-column: 1 / -1;
}

.games img{

max-width: 100%;
height: auto;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
}

.games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  margin-top: 2em;
  max-width: 70%;
  margin-left: auto;
  margin-right: 15%;
}

.game-card {
background-color: var(--crd);
width: 100%;
height: auto;
border-radius: 1em;
}

.game-card img {
  width: 100%;
  height: auto;
  display: block;
}

.game-card p{
font-size: small;
padding-left: 1em;
color: var(--crdt);
}

.game-card h3{
padding-left: 1em;
padding-right: 1em;
color: var(--clr)
}

/*Apps-----------------------------------------------------------------------------*/

.apps h2 {
  grid-column: 1 / -1;
}

.apps img{

max-width: 100%;
height: auto;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
}

.apps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  margin-top: 2em;
  max-width: 70%;
  margin-left: auto;
  margin-right: 15%;
}

.apps-card {
background-color: var(--crd);
width: 100%;
height: auto;
border-radius: 1em;
}

.apps-card img {
  width: 100%;
  height: auto;
  display: block;
}

.apps-card p{
font-size: small;
padding-left: 1em;
color: var(--crdt);
}

.apps-card h3{
padding-left: 1em;
padding-right: 1em;
color: var(--clr)
}


/*My nintendo store-----------------------------------------------------------------------*/

.store-wrapper {
  background-color: #e60012;
  width: 100%;
}


.store h2 {
 display: none;
}

.store img{

max-width: 100%;
height: auto;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
}

.store {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  margin-top: 2em;
  max-width: 70%;
  margin-left: auto;
  margin-right: 15%;
  background-color: #e60012;
}

.store-card {
background-color: var(--crd);
width: 100%;
height: auto;
border-radius: 1em;
}

.store-card img {
  width: 100%;
  height: auto;
  display: block;
}

.store-card p{
font-size: small;
padding-left: 1em;
color: var(--crdt);
}

.store-card h3{
padding-left: 1em;
padding-right: 1em;
color: var(--clr)
}

.store-logo {
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 300px;
  padding-top: 2em;
}
.store-button {
  grid-column: 1 / -1;
    justify-self: center;
  margin-top: 2em;
  color: white;
  border: solid 2px white;
  margin-bottom: 2em;
  font-size: medium;
  padding: 1em;
  font-weight: bold;
  border-radius: 0.5em;
}

.store-button:hover {
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/*Hardware-----------------------------------------------------------------------*/


.hardware h2 {
  grid-column: 1 / -1;
}

.hardware {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin-top: 2em;
  margin-right: 10em;
  padding-left: 20em;
}

.hardware-card-upper {
  display: flex;
  align-items: center;
  gap: 1em; 
  background-color:#e60012;
  border-radius: 1em;
  padding: 1.5em;

}

.hardware-card-upper .logo-text {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  gap: 0.5em;
  font-size: x-large;
  color: white;
  padding-left: 5em;
  text-align: center;
}

.hardware-card-upper .logo-text img {
  max-width: 150px; 
  height: auto;
}

.hardware-card-upper > img:last-child {
  max-width: 60%;   
  height: auto;
  object-fit: cover;
}

.hardware-card-lower {
  display: flex;
  align-items: center;
  gap: 1em; 
  border-radius: 1em;
  padding: 1.5em;
}

.hardware-card-lower .logo-text {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  gap: 0.5em;
  font-size: x-large;
  color: var(--clr);
  padding-right: 5em;
  text-align: center;
}

.hardware-card-lower .logo-text img {
  max-width: 150px; 
  height: auto;
}

.hardware-card-lower > img:first-child {
  max-width: 60%;   
  height: auto;
  object-fit: cover;
  border-radius: 1em;
}


/*Online-----------------------------------------------------------------------*/


.online{
margin-left: 10em;
margin-bottom: 2em;
padding-left: 10em;
}


.online-card {
  display: flex;              
  align-items: center;
  gap: 1em;
  background-color: #e60012;
  border-radius: 1em;
  padding: 1em;
  color: white;
  margin-top: 3em;
  margin-right: 15em;
}


.online-card .images {
  display: flex;
  flex-direction: row;       
  gap: 0.5em;
}

.online-card .images img {
  max-width: 400px;           
  height: auto;
  border-radius: 0.5em;
}

.online-card .text {
  display: flex;
  flex-direction: column;
  justify-content: center;    
  gap: 0.5em;
  flex: 1;                    
}

.online-card .text h3 {
  margin: 0;
  font-size: x-large
}

.online-card .text p {
  margin: 0;
  font-size:medium;
}

/* Carousel----------------------------------------------------------------------------*/

.carousel {
  width: 80%;
  max-width: 1250px;
  max-height: auto;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg)
}

.carousel img {
  width: 100%;
  max-height: 650px;
  border-radius: 10px;
  display: block;
  margin: 0 1em;
}

button {
  color: var(--clr);
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
}


/*Sidebar-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.sidebar {
    position: fixed;
    top: 67px;               
    left: 0;
    width: 100px;
    height: calc(100% - 60px);
    background-color: #a8000e;
    padding-top: 10px;
}


.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.sidebar ul li a {
    display: block;
    background-color: #e60012;  
    color: white;
    padding: 15px;
    margin: 1px;              
    text-align: center;
    text-decoration: none;
    border-top-right-radius: 20px;       
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: small;
}


.sidebar ul li a:hover {
    background-color: #c20010;
}

.sidebar ul li a img {
    display: block;
    margin: 0 auto 5px auto;
}



/*sidebar popup-----------------------------------------------------------------*/ 

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 00; 
  left: 100px; 
  background-color: var(--bg);
  overflow-x: hidden; 
  padding-top: 90px; 
  
}

.sidenav a {
  padding-left: 1em;
  text-decoration: none;
  color: var(--clr);
  display: block;
  padding-bottom: 1em;
}

.sidenav h2{
padding-left: 0.8em;
}

.sidenav h3{
padding-left: 1em;
}

.sidenav a:hover {
 color: #e60012;
 text-decoration: underline;
}

/*Overzicht pagina-----------------------------------------------------------------*/

.overzicht-pagina{
margin-left: 15em;
margin-right: 10em;
background-color: var(--bg);
padding-left: 2em;
padding-right: 1em;
}


.youtube {
  color: white;
  background-color: #e60012;
  border-radius: 1em;
  text-align: center;
  padding: 2em;
  margin-right: 4em;
}

.youtube-wrapper {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.youtube-wrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
}



/*Videos----------------------------------------------------------------------------------*/


.video-card{
border-radius: 1em;
background-color: var(--crd);

}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-right: 4em;
}

.video-card video {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

.video-card h3 {
  margin-top: 10px;
  font-size: 1em;
  font-size: larger;
  padding-left: 1em;
}


/*Uitgelichte games------------------------------------------------------------------*/

.uitgelicht h2 {
  grid-column: 1 / -1;
}


.uitgelicht img{

max-width: 100%;
height: auto;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
}

.uitgelicht {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  margin-top: 2em;
 
}

.uitgelicht-card {
background-color:var(--crd);
width: 100%;
height: auto;
border-radius: 1em;
}

.uitgelicht-card img {
  width: 100%;
  height: auto;
  display: block;
}

.uitgelicht-card p{
font-size: small;
padding-left: 1em;
color: var(--crdt);
}

.uitgelicht-card h3{
padding-left: 0.5em;
padding-right: 1em;
color: var(--crdt);
}

/* VRaag het de ontwikkelaars----------------------------------------------------------------*/


.ontwikkel h2 {
  grid-column: 1 / -1;
}


.ontwikkel img{

max-width: 100%;
height: auto;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
}

.ontwikkel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  margin-top: 2em;
 
}

.ontwikkel-card {
background-color:var(--crd);
width: 100%;
height: auto;
border-radius: 1em;
}

.ontwikkel-card img {
  width: 100%;
  height: auto;
  display: block;
}

.ontwikkel-card p{
font-size: small;
padding-left: 1em;
color: var(--crdt);
}

.ontwikkel-card h3{
padding-left: 1em;
padding-right: 1em;
color: var(--crdt);
}

/* Creator's voice------------------------------------------------------------*/

.voice {
    display: flex;
    flex-direction: column;  
    align-items: center;      
    text-align: center;      
}
.voice p {
    font-size: medium;
}

.voice img{
border-radius: 1em;


}
