/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#255;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
h1 { background-color: #0000A3;
     color: white; 
     text-align: center;
	 margin-top: 3em;
	 margin-bottom: 3em;
	 padding-top: 3em;
	 padding-bottom: 3em;

}
 h2 { text-align: center;
	scale: 75%;
}

h3{
 display: flex;
 justify-content: center;
 scale: 60%;	
 padding: 2em 
}


h3 img { padding: 1em;
	    border-radius: 3em;
	     
}

h4 {
	display: flex;
	justify-content: center;
	font-size: 300%;
}

body { margin:0;

}

footer { 
background-color: #0000A3;
color: white;
scale: 200%;

}