/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#255;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/




.Select{
	color:#0000A3;
	display: flex;
	justify-content: center;
	
}

.Select p {
	margin-right: 3em;
}

.Select p:last-of-type {
	color: green
} 

header { background-color: #0000A3;
     color: white; 
     text-align: center;
	 margin-bottom: 3em;
	 padding-top: 1em;
	 padding-bottom: 0em;
	 margin-bottom: 0em;

}

header img {
	scale: 80%;
}
 
input{
     padding-left: 6em;
	 margin-left: 15em;
	 margin-right: 7em;
	 padding-bottom: 2em;
	 padding-left: 10em;
	 padding-right: 10em;
	 border-radius: 3em;
	 margin-bottom: 4em;
	 

}

nav {
	display: flex;
	justify-content: center;
	border: solid black;
	margin-top: 0em; 
	padding-top: 0em;
}

nav a{
       margin-right: 1em;
}

details {
         margin-right: 3em;

}

.BlackFriday {
	display: flex;
	justify-content: center;
	margin: 0em;
	padding-top: 2em;
}

.BlackFriday img {
    border-radius: 3em;
}

.Populair{ 
	background-color: black;
	
}


.Carrousel{
  display: flex;
  justify-content: center;

}

.Carrousel img {
	margin: 1em;
	padding: 3em;
	background-color: gray;

}

footer h2 { 
	scale: 75%;
 }

 body { 
	margin:0;

}

section img { 
	padding: 0.2em;
	border-radius: 3em;
	}

section{
	scale:65%;
	padding-top: 0em;
	font-size: larger;
}

section h2 {
	font-size: 3em;
}

footer { 
display: flex;
justify-content: center;
background-color: #0000A3;
color: white;
padding-bottom: 2em;
padding-top: 2em;
}

footer article { 

}

footer img { 
	display: flex;
justify-content: center;
margin-left: 5em;
margin-right: 3em;
}

footer p {
	margin: 0%;
	display: flex;
	justify-content: center;
}

footer h3 {
margin: 1%;
font-weight: bold;

}

footer a{
	color:#eee;

}