/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#255;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/




.Select{
	color:#0000A3;
	display: flex;
	justify-content: center;
	
}

.Select p {
	margin-right: 3em;
}

.Select p:last-of-type {
	color: green
} 

.menu { background-color: #0000A3;
     color: white; 
     text-align: center;
	 margin-bottom: 3em;
	 padding-top: 1em;
	 padding-bottom: 0em;
	 margin-bottom: 0em;

}

.menu img {
	
	scale: 80%;
}
 
input{
    scale: 250%;
	 border-radius: 3em;
	 margin-top: 2em;
	 margin-bottom: 2em;
	 margin-left: 15em;
	 margin-right: 15em;

}

nav {
	display: flex;
	justify-content: center;
	border-bottom: solid black;
	margin-top: 0em; 
	padding-top: 2em;
     
}

nav a{
       margin-right: 1em;
}



.BlackFriday {
	display: flex;
	justify-content: center;
	margin: 0em;
	padding-top: 2em;
	
}

.BlackFriday img {
    border-radius: 3em;
	
}

.deals {
    
	scale: 70%
}

.deals img {
border-radius: 2em;
margin-left: 3em;


}

.Populair img{ 
		scale: 75%;
}


.Carrousel{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.Carrousel img {
	margin: 1em;
	padding: 3em;
	background-color: rgb(226, 226, 226);
    border-radius: 3em;
	border: solid rgb(209, 209, 209);

	margin-left: 0em;
	margin-right: 0em;
}


.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.carousel-track a img {
  width: 25%;        
  flex-shrink: 0;
}

.carousel-container button {
  position: absolute;
  top: 40%;
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
  z-index: 4;
}

.prev { left: 0; }
.next { right: 0; }



.service h2 { 
	scale: 75%;
 }

 body { 
	margin:0;

}



.service { 
display: flex;
justify-content: center;
background-color: #0000A3;
color: white;
padding-bottom: 2em;
padding-top: 2em;

}



.service img { 
	display: flex;
justify-content: center;
margin-left: 5em;
margin-right: 3em;
}

.service p {
	margin: 0%;
	display: flex;
	justify-content: center;
}

.service h3 {
margin: 1%;
font-weight: bold;

}

.service a{
	color:#eee;

}

.legal {
  text-align: center;
}
.legal img {
  display: block;
  margin: 0 auto;
}

.bg-img {
    width: 100%; 
    display: block;
}

.Populair {
    position: relative;
    width: 100%;
}

.bg-img {
    width: 50%;
    display: block;
	
}

.overlay {
    position: absolute;
    top: 15em;        
    left: 15em;
    z-index: 10;      
    color: rgb(0, 0, 0);
    background-color: gray;
	border-radius: 3em;
	padding: 1em;
}

.logo-img {
    width: 200px;
    display: block;
    margin-bottom: 10px;
}

.service2 {
    display: flex;
    justify-content: center;
    gap: 5em;


}

.service2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2em;
}

.Ontdek {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2em;
	
}

.Ontdek h2 {
    grid-column: 1 / -1; 
}

.categorie ul {
    list-style: none;
    padding: 0;
    margin: 0.5em 0 0 0;
}

.categorie li {
    margin-bottom: 0.4em
}

.product img {


} 

.bestellen h2 {
	color: red;

}

.bestellen p {
display: flex;
justify-content: left;


}